{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
Редактировать запись
{% else %}
Добавить запись
{% endif %}
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    {% if is_edit %}
                    Редактировать статью
                    {% else %}
                    Новая статья
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row my-3 p-3">
                            <label for="{{ form.title.id }}">
                                {{ form.title.label }}
                                <span class="required text-danger">*</span>
                            </label>
                            {{ form.title }}
                            <small id="{{ form.title.help_text.id }}" class="form-text text-muted">
                                {{ form.title.help_text }}
                            </small>
                        </div>
                        <div class="form-group row my-3 p-3">
                            <label for="{{ form.text.id }}">
                                {{ form.text.label }}
                                <span class="required text-danger">*</span>
                            </label>
                            {{ form.text }}
                            <small id="{{ form.text.help_text.id }}" class="form-text text-muted">
                                {{ form.text.help_text }}
                            </small>
                        </div>

                        <div class="form-group row my-3 p-3">
                            <label for="{{ form.authors.id }}">
                                {{ form.authors.label }}
                            </label>
                            {{ form.authors }}
                            <small id="form.authors.help_text.id" class="form-text text-muted">
                                {{ form.authors.help_text }}
                            </small>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">
                                {% if is_edit %}
                                Сохранить
                                {% else %}
                                Добавить
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}